@font-face{
    font-family: 'Tungsten';
    src: url('../assets/font/Tungsten-Bold.ttf') format('opentype');
    font-weight: normal;
}

@font-face{
    font-family: 'DINNextW1G';
    src: url('../assets/font/DINNextW1G-Bold.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Tungsten';
    box-sizing: border-box;
    letter-spacing: 1px;
}

:root {
    --color1: #FD4556;
    --color2: #BD3944;
    --color3: #53212B;
    --color4: #FFFBF5;
    --color5: #000000;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: var(--color5);
}

::-webkit-scrollbar-thumb {
    background: var(--color1);
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--color2);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 99;
    background: var(--color5);
    height: 65px;
}

.header .logo{
    cursor: pointer;
    width: 100px;
    height: auto;
}

.header .logo img{
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

header nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    height: 50px;
    width: 90px;
    color: var(--color4);
    font-size: 28px;
}

header nav a:hover{
    background-color: var(--color1);
}

.menu-mobile, .open-menu, .close-menu{
    display: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--color2);
}

.home {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100vh;
}

.home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.home-content video{
    margin-top: -85px;
    width: 100%;
    height: 200%;
}

.agents {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color1);
}

.character {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-bottom: 70px;
    width: 95%;
    height: 100%;
    background-color: var(--color2);
    border: 1px solid #000;
}

.card-char {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    width: 290px;
    height: 160px;
    border-radius: 10px;
    border: 1px solid #000;
    background: linear-gradient(90deg, rgb(145, 127, 127) -100%, rgb(250, 249, 249) 100%, rgb(235, 231, 231) 100%);
}

.card-char-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(0,0,0,1) -100%, rgba(253,69,86,1) 100%, rgba(255,255,255,1) 100%);
}

.card-char-img img {
    width: 90%;
    height: 90%;
    padding: 5px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--color4);
}

.card-char-check{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-char-name{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    color: var(--color5);
    margin: 5px;
    background-color: var(--color1);
}

.card-char-go{
    cursor: pointer;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    color: var(--color4);
    background-color: var(--color2);
}

.card-char-go:hover{
    background-color: #FD4556;
}

.weapons{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--color1);
}

.guns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 60px;
    width: 95%;
    height: auto;
    background-color: var(--color2);
    border: 1px solid #000;
}

.card-guns {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin: 10px;
    width: 500px;
    height: 330px;
    border: 1px solid #000;
    background: linear-gradient(90deg, rgb(199, 192, 192) -100%, rgb(255, 255, 255) 100%, rgb(235, 231, 231) 100%);
}

.card-guns .name{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1px;
    font-size: 22px;
    width: 80px;
    height: 40px;
    padding: 8px;
    border: 1px solid #000;
    background-color: var(--color1);
}

.guns-context{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    line-height: 14px;
    margin-top: 20px;
}

.guns-context .info{
    padding: 3px;
}

.guns-context .info span{
    color: #6e5151;
    margin-left: 3px;
}

.guns-info-dmg{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.guns-dmg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 1px;
    font-size: 16px;
    line-height: 14px;
    border: 2px solid #FD4556;
}

.guns-dmg .info{
    display: flex;
    padding: 3px;
}

.guns-dmg .info span{
    color: #6e5151;
    margin-left: 3px;
}

.guns-desc{
    display: flex;
    align-items: center;
}

.card-guns img {
    max-height: 100px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .3s;
    filter: drop-shadow(0 0 0.75rem #4b3d40c8);
}

.card-guns img:hover{
    transform: scale(102%);
}

.gears {
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--color1);
}

.gear{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    padding: 10px;
    width: 50%;
}

.gear-thumb{
    width: 50%;
    height: 100%;
    background-image: url(../assets/img/thumb-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 120px;
}

.gear-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px 0;
    margin: 10px 0;
    color: var(--color4);
    border: 2px solid var(--color4);
}

.gear-desc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.gear-desc div{
    font-size: 22px;
    color: #000;
}

.gear-desc span{
    padding-left: 5px;
    color: #fff;
}

.gear-desc div::selection{
    color: #000;
    background-color: #FD4556;
}

.gear-desc span::selection{
    color: #000;
    background-color: #FD4556;
}

.gear-content img{
    width: 240px;
}

.gear-content img:hover {
    background-color: #BD3944;
}

.maps {
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-color: #000; */
}

.map{
    display: flex;
    overflow-x: auto;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    background-color: #000;
}

.card-maps{
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 85vh;
    margin-top: 35px;
    scroll-snap-align: start;
    text-align: center;
    /* pointer-events: none; */
}

.card-maps img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-map-name{
    cursor: pointer;
    opacity: 0.3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #000;
    color: #c4c3be;
    transition: all .3s;
}

.card-map-name:hover{
    opacity: 1;
    color: var(--color1);
}

/* Agent Modal Settings */

.content-modal {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #0f1923;
}

.agent-modal{
    isolation: isolate;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.agent-background{
    position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -9;
}

.agent-modal-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.char-modal{
    position: absolute;
    right: 0px;
    top: -50px;
    /* top: calc(50% -220px); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.char-modal img{
    /* min-width: 580px;
    min-height: 580px; */
    /* width: 100%; */
    height: 999px;
    filter: drop-shadow(0 0 0.75rem #4b3d40);
    animation: fadein 2s ease-in alternate;
}

@keyframes fadein {
    from { 
        opacity: 0;
        transform: scale(95%);
    } to {
        opacity: 1;
        transform: scale(100%); }
}

.char-info{
    width: 350px;
    height: 500px;
    margin-top: 80px;
    margin-left: 30px;
}

.header-char-modal{
    display: flex;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    width: 220px;
    height: 70px;
    margin: 10px;
    color: #ece8e1;
}

.header-char-modal div img{
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-top: -30px;
    border-radius: 50%;
}

.main-modal{
    width: 100%;
    padding: 10px;
}

.main-modal .title{
    display: flex;
    align-items: center;
    position: relative;
}

.sound {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
    background-color: #FD4556;
    border: 1px solid #000;
    transition: ease-in-out .1s;
}

.sound:hover{
    cursor: pointer;
    border: 1px solid #fff;
}

.main-modal h3{
    font-size: 3rem;
    text-transform: uppercase;
    color: #ece8e1;
}

.main-modal p{
    font-family: 'DINNextW1G';
    font-size: 1.4rem;
    line-height: 1.4;
    color: #c4c3be;
}

.sound-2:hover{
    color: #fff;
}

.char-modal .sound:hover {
    color: #FFFBF5;
}

/* .ghost{
    z-index: -2;
    height: 100%;
    width: 50vw;
}

.control{
    min-width: 300px;
    max-width: 600px;
} */

.skills-modal{
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 350px;
    background-color: #c4c3be;
}

.skills-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.skills-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skills-content span{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 1px;
    top: 20;
    background-color: #000;
}

.list-skills-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 20px;
}

.list-skills-img div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid #81807e;
    transition: ease-in-out .3s;
    background-color: #8b8989;
    transform: scaleY(100%);
}

.list-skills-img div:hover{
    border: 1px solid #000;
    background: #c4c3be;
}

.list-skills-img img{
    cursor: pointer;
    margin:  0 50px;
    width: 60px;
    height: 60px;
    transform: scale(90%);
    transition: ease-in-out .3s;
    filter: drop-shadow(0 0 0.2rem #fdf);
}

.list-skills-img img:hover{
    filter: none;
    transform: scale(100%);
    background-color: #FD4556;
}

.skills-info{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    margin: 20px;
}

.skill-description{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
}

.skills-desc {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.skills-desc h4{
    font-size: 2rem;
}

.skills-desc p {
    font-family: 'DINNextW1G';
    font-size: 1.4rem;
    line-height: 1.4;
    color: #4b3d40;
}

.skills-video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    min-height: 415px;
    background-color: #000;  
}

.skills-video video {
    width: 100%;
}

.back {
    cursor: pointer;
    position: absolute;
    right: 45px;
    top: 28px;
    font-weight: 600;
    font-size: 18px;
    width: 100px;
    height: 35px;
    background-color: #FD4556;
    border: 1px solid #000;
}

.back:hover{
    color: #FFFBF5;
}

/* Agent Modal Settings End */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 333px;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
    color: #fff;
    background: #000;
    padding: 5px;
    font-size: 22px;
}

.footer-content a {
    padding: 3px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}

.footer a:hover {
    color: var(--color1);
}

p::selection {
    color: var(--color5);
    background-color: var(--color4);
}

/*Media query*/
@media screen and (max-width: 1115px){
    .content-modal{
        overflow: hidden;
    }

    .home-content video{
        margin-top: 10px;
        width: 200%;
        height: 100vh;
    }

    .char-modal{
        right: -120px;
    }

    .skills-video{
        width: 600px;
    }

    .gear-content img{
        width: 210px;
    }
}

@media screen and (max-width: 860px) {
    .open-menu{
        cursor: pointer;
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        margin: 10px;
    }
    
    .menu-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 0;
        height: 100%;
        right: 0;
        top: 0;
        overflow: hidden;
        z-index: 99;
        transition: all .5s;
        background-color: #000;
    }
    
    .menu-mobile a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .close-menu{
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: transparent;
    }

    .mobile-content{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mobile-content a{
        text-decoration: none;
        font-size: 34px;
        width: 100%;
        transition: .3s;
        margin: 20px ;
        width: 160px;
        height: 60px;
        color: #fff;
    }

    .mobile-content a:hover{
        color: #fff;
        background-color: #FD4556;
    }
    
    .home-content video{
        margin-top: -50px;
        width: 200%;
    }

    .agent-modal {
        min-width: 470px;
        height: auto;
    }

    .char-modal{
        right: -160px;
        opacity: 0.4;
    }

    nav{
        display: none;
    }

    .gear{
        min-width: 480px;
    }

    .skill-description{
        flex-direction: column;
        height: auto;
    }

    .skills-desc{
        margin: 30px;
        width: 70%;
    }

    .skills-video{
        margin-bottom: 30px;
        background: none;
        min-height: auto;
    }

    .skills-video video{ 
        border-bottom: 20px solid #FD4556;
    }
}

@media screen and (max-width: 720px) {    
    .agent-background{
        width: 100vh;
    }

    .agent-modal-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .char-modal{
        position: relative;
        margin-left: -330px;
        margin-top: 730px;
        opacity: 1;
    }

    .char-modal img{
        height: 500px;
    }

    .char-info{
        margin-top: 0;
        margin-bottom: 350px;
    }

    .skills-video{
        width: 90%;
    }
}

@media screen and (max-width: 580px) {
    .home-content{
        min-width: 380px;
    }

    .home-content video{
        margin-top: -20px;
        width: 300%;
    }

    .card-guns{
        height: 420px;
    }

    .guns-info-dmg{
        flex-direction: column;
    }

    .guns-dmg{
        width: 99%;
        line-height: 10px;
    }

    .gear{
        width: 100%;     
    }

    .gear-content{
        justify-content: center;
        width: 80%;
        height: 250px;
       }
    
    .gear-desc div{
        font-size: 1.2rem;
    }

    .gear-content img{
        width: 30%;
    }

    .gear-thumb{
        display: none;
    }  

    .card-maps{
        height: 88vh;
    }
}

@media screen and (max-width: 375px){
    .main-modal{
        width: 90%;
    }

    .main-modal p{
        font-size: 1.2rem;
    }

    .skill-description p{
        font-size: 1.2rem;
    }

    .back{
        top: 20px;
        right: 60px;
    }

    .gear{
        width: 100%;     
    }

    .gear-content{
        width: 70%;
       }

    .gear-thumb{
        display: none;
    }
}
